.nav-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: cornflowerblue;
  align-items: center;
  justify-content: space-between;
  & .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px 20px 10px 20px;
    border: 1px solid white;
  }
  & p {
    color: white;
  }
  & .selected {
    background-color: gray;
  }
}
@media(min-width:992px){
    .nav-container{
        flex-direction: row;
    }
}

