.card-container{
    padding: 20px;
}
.card {
  display: grid;
  grid-template-rows: 200px 40px 1fr 40px;
  justify-items: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 12px;
  background: white;
  max-width: 300px;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card-title {
  font-size: 21px;
  font-weight: 600;
  text-align: left;
  width: 100%;
}

.card-text {
  font-size: 16px;
  color: gray;
 
}

.card-button {
    justify-self: start;
    padding: 10px 20px;
    width: 100%;
    background-color: cadetblue;
    border: 1px solid gray;
    color: white;
}